<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <div th:fragment="fragment-body-menu">-->
<!--      <div>-->
<!--        <a href="/member/sign-up/email">이메일 회원 가입</a>-->
<!--        |-->
<!--        <a href="/member/info">회원 정보</a>-->
<!--        |-->
<!--        <a href="/asset">가계부</a>-->
<!--        |-->
<!--        <a href="/groups">그룹</a>-->
<!--        |-->
<!--        <a href="/member/sign-in/email">이메일 로그인</a>-->
<!--        |-->
<!--&lt;!&ndash;        <a href="/member/login">구글 로그인</a>&ndash;&gt;-->
<!--&lt;!&ndash;        |&ndash;&gt;-->
<!--        <a href="/member/sign-out">로그아웃</a>-->
<!--      </div>-->
<!--      <hr/>-->
<!--    </div>-->

<!--    <div th:fragment="fragment-admin-body-menu">-->
<!--      <a href="/admin/main.do"> 관리자 메인 </a>-->
<!--      |-->
<!--      <a href="/admin/member/list.do"> 회원 관리 </a>-->
<!--      |-->
<!--      <a href="/admin/category/list.do"> 카테고리 관리 </a>-->
<!--      |-->
<!--      <a href="/admin/course/list.do"> 강좌 관리 </a>-->
<!--      |-->
<!--      <a href="/admin/takecourse/list.do"> 수강 관리 </a>-->
<!--      |-->
<!--      <a href="/member/logout"> 로그아웃 </a>-->
<!--      <br/>-->
<!--      <hr/>-->
<!--    </div>-->

<!--  </body>-->
<!--</html>-->